## Importing the packages

In [1]:
import pymongo as pm
import pandas as pd
import base64
import math

## Connecting to mongoDB using MongoClient

In [2]:
url = "mongodb://192.168.114.124:27017/?directConnection=true&appName=mongosh+1.6.0"
client = pm.MongoClient(url)
db = client['project']
col = db['vaccinations']

### Insertion of First Dataset - [ Vaccination Details Worldwide ]

In [3]:
covidVaccination = pd.read_csv(r"C:\Users\Sabharish\OneDrive\Desktop\inProgress\semProject\BDMS\data\country_vaccinations.csv")
covidVaccination.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [4]:
columns = ['country', 'iso_code', 'date', 'vaccines', 'source_name', 'source_website', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated',
           'daily_vaccinations_raw', 'daily_vaccinations', 
           'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 
           'people_fully_vaccinated_per_hundred', 'daily_vaccinations_per_million']

print(len(columns))

15

In [5]:
db.vaccinations.delete_many({})
for i in range(len(covidVaccination)):
    try:
        array = {}
        for k in range(len(columns)):
            if covidVaccination[columns[k]][i] is not None and str(covidVaccination[columns[k]][i]).strip() not in ['', None, 'nan', 'NaN']:
                 array[columns[k]] = covidVaccination[columns[k]][i]                
        col.insert_one(array)
    except Exception as e:
        print(e)
        continue

print("Finished")

Finished

### Insertion of User Database

In [6]:
imgPath = r"imagePath.jpg"
imageFile = open(imgPath, "rb")
image1 =imageFile.read()

imgPath = r"imagePath.jpg"
imageFile = open(imgPath, "rb")
image2 =imageFile.read()


imgPath = r"imagePath.jpg"
imageFile = open(imgPath, "rb")
image3 =imageFile.read()

imgPath = r"imagePath.jpg"
imageFile = open(imgPath, "rb")
image4 =imageFile.read()

imgPath = r"imagePath.jpg"
imageFile = open(imgPath, "rb")
image5 =imageFile.read()

imgPath = r"imagePath.jpg"
imageFile = open(imgPath, "rb")
image6 =imageFile.read()

In [7]:
db.user.delete_many({})
db.user.insert_many([
    {
        'email' : 'xxx@gmail.com',
        'userName':'hyper',
        'name' : {
            'firstName':'Sabharish',
            'lastName':'A L'
        },
        'profilePic' : image1
    },
    {
        'email' :  'xxx@gmail.com',
        'userName':'don',
        'name' : {
            'firstName':'Sai Sangavi',
            'lastName':'C'
        },
        'profilePic' : image2
    },
    {
        'email' : 'xxx@gmail.com',
        'userName':'bahu',
        'name' : {
            'firstName':'Saivarsha',
            'lastName':'Raju'
        },
        'profilePic' : image3
    }, 
    {
        'email' :  'xxx@gmail.com',
        'userName':'pravin',
        'name' : {
            'firstName':'Pravin Raj',
            'lastName':'A K'
        },
        'profilePic' : image4
    },
    {
        'email' :  'xxx@gmail.com',
        'userName':'haripranav',
        'name' : {
            'firstName':'Hari Pranav',
            'lastName':'J M'
        },
        'profilePic' : image5
    },
    {
        'email' : 'admin@bdms.com',
        'userName':'admin',
        'name' : {
            'firstName':'Admin',
            'lastName':'User'
        },
        'profilePic' : image6
    }
])
...

Ellipsis

### Insertion of Second Dataset - [ District vise Covid Data India ]

In [8]:
district = pd.read_csv(r"C:\Users\Sabharish\OneDrive\Desktop\inProgress\semProject\BDMS\data\district_level_latest.csv")
district.head()

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,District_Notes,Last_Updated
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,District-wise numbers are out-dated as cumulat...,NaN
2,2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,District-wise numbers are out-dated as cumulat...,NaN
3,3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,51.0,19.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,District-wise numbers are out-dated as cumulat...,NaN
4,0.0,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,434.0,0.0,434.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [10]:
len(district)

800

In [11]:
db = client['project']
col2 = db['districtData']

In [13]:
columns = list(district.columns)
columns.remove("SlNo")
columns.remove("Last_Updated")
columns.remove("District_Notes")
columns

['State_Code',
 'State',
 'District_Key',
 'District',
 'Confirmed',
 'Active',
 'Recovered',
 'Deceased',
 'Migrated_Other',
 'Delta_Confirmed',
 'Delta_Active',
 'Delta_Recovered',
 'Delta_Deceased']

In [14]:
col2.delete_many({})
for i in range(len(district)):
    try:
        array = {}
        for k in range(len(columns)):
            if district[columns[k]][i] is not None and str(district[columns[k]][i]).strip() not in ['', None, 'nan', 'NaN']:
                 array[columns[k]] = district[columns[k]][i]                
        col2.insert_one(array)
    except Exception as e:
        print(e)
        continue

print("Finished")

Finished